openapi: 3.2.0
info:
  title: Salesflare Regional Settings API
  version: 1.0.0
  description: '# Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.'
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/sf-logo-inverted.svg
    backgroundColor: '#0f1528'
    altText: Salesflare logo
servers:
- url: https://api.salesflare.com
tags:
- name: Regional Settings
paths:
  /currencies:
    get:
      summary: List supported currencies
      operationId: getCurrencies
      tags:
      - Regional Settings
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    iso:
                      type: string
                      x-constraint:
                        length: 3
                    html:
                      type: string
x-tagGroups:
- name: General
  tags:
  - Tasks
  - Accounts
  - Contacts
  - Opportunities
  - Workflows
  - Insights
- name: Interactions
  tags:
  - Calls
  - Meetings
  - Internal Notes
- name: User Management
  tags:
  - Users
  - Groups
- name: Configuration
  tags:
  - Regional Settings
  - Pipelines
  - Custom Fields
  - Email Data Sources
  - Tags
  - Filter Fields
  - Persons
