openapi: 3.0.0
info:
  title: Salesflare Accounts Users API
  version: 1.0.0
  description: '# Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.


    The Salesflare API provides a RESTful interface with JSON-formatted responses to access most Salesflare resources.


    ## Authentication


    The Salesflare API uses bearer token based authentication, which means you need to use the key-value pair "Authorization : Bearer APIKEY" in the header to authenticate.


    You can make an API key in ["Settings" > "API keys"](https://app.salesflare.com/#/settings/apikeys).


    Click on the large orange "+" button on the bottom right of the screen to create an API key.


    ![Screenshot API Key Settings](https://lib.salesflare.com/api_docs/screenshot_settings_apikeys.png?v=2)


    ## Requests


    All requests must be sent using HTTPS with TLS 1.2 or higher. Please make sure your developer tools support this version of TLS as older versions or SSL are not supported for security reasons.


    For PUT or POST requests (e.g. create, update), the payload must be provided as JSON in the request body.


    ## Responses


    Responses use HTTP status codes, with the most typical ones being:


    | Code                   | Meaning               |

    |------------------------|-----------------------|

    | Successful Responses                           |

    | 200                    | OK                    |

    | Error Responses                                |

    | 400                    | Bad Request           |

    | 401                    | Unauthorized          |

    | 404                    | Not Found             |

    | 429                    | Too Many Requests     |

    | 500                    | Internal Server Error |


    ## Testing


    We recommend testing our API with Postman.


    ### Download specification


    Our API is documented following the OpenAPI specification. You can download it [here](https://api.salesflare.com/openapi.json)


    ### Import in Postman


    To import the collection, open Postman and click Import, then select "Import From Link"


    Copy & Paste the following link and press the "Import" button:


    > https://api.salesflare.com/openapi.json


    ![Screenshot Postman Import](https://lib.salesflare.com/api_docs/screenshot_postman_import.png)


    ## Support


    For API questions and support, please email support@salesflare.com or click the chat bubble below.'
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/sf-logo-inverted.svg
    backgroundColor: '#0f1528'
    altText: Salesflare logo
servers:
- url: https://api.salesflare.com
tags:
- name: Users
paths:
  /me:
    get:
      summary: Get current user's details
      operationId: getMe
      tags:
      - Users
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                type: object
                properties:
                  id:
                    type: number
                  team:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      tracking_token:
                        type: string
                      days_until_account_inactive:
                        type: number
                      total_user_count:
                        type: number
                      enabled_user_count:
                        type: number
                      paid_user_count:
                        type: number
                      free_users:
                        type: number
                      subscribed:
                        type: boolean
                      payment_type:
                        type: string
                        enum:
                        - stripe
                        - free
                        - appstack
                      discount_code:
                        type: string
                      discount_type:
                        type: string
                      promo_description:
                        type: string
                      promo_redeem_by:
                        type: string
                        format: date-time
                      promo_code:
                        type: string
                      plan:
                        type: number
                      currency:
                        type: object
                        properties:
                          id:
                            type: number
                          html:
                            type: string
                          iso:
                            type: string
                      billing_currency:
                        type: object
                        properties:
                          id:
                            type: number
                          html:
                            type: string
                          iso:
                            type: string
                      billing_frequency:
                        type: string
                        enum:
                        - monthly
                        - annually
                      creation_date:
                        type: string
                        format: date-time
                      time_zone:
                        type: string
                      stripe_customer_id:
                        type: string
                      stripe_subscription_date:
                        type: string
                        format: date-time
                      campaign:
                        type: string
                      credit_usage:
                        type: number
                      credit_quota:
                        type: number
                      credit_package:
                        type: string
                        enum:
                        - S
                        - M
                        - L
                        - XL
                      input_token_usage:
                        type: number
                      output_token_usage:
                        type: number
                      ai_inference_usage:
                        type: number
                      ai_inference_quota:
                        type: number
                      email_tracking_subdomain:
                        type: string
                      email_tracking_domain:
                        type: object
                        properties:
                          url:
                            type: string
                          enabled:
                            type: boolean
                          timeZones:
                            type: array
                            items:
                              type: string
                        required:
                        - url
                        - enabled
                      automated_tagging:
                        type: boolean
                      domain:
                        type: string
                  group:
                    type: number
                  amount_of_trial_days_earned:
                    type: number
                  setup_completion_percentage:
                    type: number
                  has_received_account_suggestions:
                    type: boolean
                  has_archived_contacts:
                    type: boolean
                  notification_channel_id:
                    type: string
                  needs_password:
                    type: boolean
                  disabled:
                    type: boolean
                  creation_date:
                    type: string
                    format: date-time
                  modification_date:
                    type: string
                    format: date-time
                  prefix:
                    type: string
                  firstname:
                    type: string
                  middle:
                    type: string
                  lastname:
                    type: string
                  suffix:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
                    x-format:
                      email:
                        ignoreLength: true
                        tlds:
                          allow: false
                        minDomainSegments: 1
                  domain:
                    type: string
                  picture:
                    type: string
                  type:
                    type: string
                  is_admin:
                    type: boolean
                  credit_usage:
                    type: number
                  is_importing:
                    type: boolean
                  sync_status:
                    type: string
                  calendar_sync_status:
                    type: string
                  first_calendar_sync_done:
                    type: boolean
                  trial_expired:
                    type: boolean
                  trial_expiry_date:
                    type: string
                    format: date-time
                  trial_extended:
                    type: boolean
                  restricted:
                    type: boolean
                  restricted_reason:
                    type: string
                  team_discount_code:
                    type: string
                  is_delinquent:
                    type: boolean
                  input_token_usage:
                    type: number
                  output_token_usage:
                    type: number
                  ai_inference_usage:
                    type: number
                  social_profiles:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        username:
                          type: string
                        url:
                          type: string
                        type:
                          type: string
                  phone_numbers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        number:
                          type: string
                        type:
                          type: string
                  positions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        organisation:
                          type: string
                        role:
                          type: string
                  addresses:
                    type: array
                    items:
                      type: object
                  tags:
                    type: array
                    items:
                      type: object
                  intercom_hash:
                    type: string
                    x-format:
                      hex:
                        byteAligned: false
                        prefix: false
                  first_day_of_week:
                    type: number
                  theme:
                    type: string
                    enum:
                    - system
                    - light
                    - dark
                  language:
                    type: string
                    enum:
                    - en
                    - nl
                    - fr
                    - de
                    - pt
                    - br
                    - it
                    - es
                  am_pm_notation:
                    type: boolean
                  auto_find_email_linkedin:
                    type: boolean
                  data_sources_to_reconnect:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        email:
                          type: string
                        type:
                          type: string
                  data_sources:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        email:
                          type: string
                        type:
                          type: string
                        sync_status:
                          type: string
                        status:
                          type: string
                          enum:
                          - ERROR
                          - RECONNECT
                          - OK
                        status_message:
                          type: string
                  plan_flags:
                    type: object
                  flags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        flag:
                          type: number
                        name:
                          type: string
                        state:
                          type: boolean
                        user:
                          type: number
                        plan:
                          type: number
                        creation_date:
                          type: string
                          format: date-time
                        modification_date:
                          type: string
                          format: date-time
                      required:
                      - flag
                      - name
                      - state
                  role:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      permissions:
                        type: object
                        properties:
                          view:
                            type: string
                            enum:
                            - CED
                            - VIEW
                          ced:
                            type: string
                            enum:
                            - CED
                            - VIEW
                  call_log_sync_date:
                    type: string
                    format: date-time
                  two_fa_enabled:
                    type: boolean
                  has_recently_failed_workflows:
                    type: boolean
                  amount_of_failed_workflows:
                    type: number
  /users:
    get:
      summary: List users
      operationId: getUsers
      description: Request a list of users with optional filters and pagination
      parameters:
      - x-constraint:
          single: true
        name: id
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - name: name
        in: query
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
      - name: search
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: number
          minimum: 1
      - name: offset
        in: query
        schema:
          type: number
      - description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending.
        x-constraint:
          single: true
        name: order_by
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: onlyEnabled
        in: query
        schema:
          type: boolean
      tags:
      - Users
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
  /me/contacts:
    get:
      summary: List current user's contacts
      operationId: getMeContacts
      parameters:
      - x-constraint:
          single: true
        name: id
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - name: name
        in: query
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
      - name: phone_number
        in: query
        schema:
          type: string
      - name: domain
        in: query
        schema:
          type: string
      - name: modification_after
        in: query
        schema:
          type: string
          format: date-time
      - name: modification_before
        in: query
        schema:
          type: string
          format: date-time
      - name: creation_after
        in: query
        schema:
          type: string
          format: date-time
      - name: creation_before
        in: query
        schema:
          type: string
          format: date-time
      - x-constraint:
          single: true
        name: account
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - x-constraint:
          single: true
        name: tag
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - x-constraint:
          single: true
        name: tag.name
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: position.role
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: address.country
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: address.state_region
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: address.city
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: includeArchived
        in: query
        schema:
          type: boolean
      - name: search
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
          enum:
          - customer
          - mycontacts
      - name: limit
        in: query
        schema:
          type: number
          minimum: 1
          default: 20
      - name: offset
        in: query
        schema:
          type: number
          default: 0
      - name: custom
        in: query
        x-type: object
        schema:
          type: string
      - description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending.
        x-constraint:
          single: true
        name: order_by
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: export
        in: query
        schema:
          type: string
      - x-alternatives:
        - type: object
          required:
          - condition
          - rules
          x-properties:
            condition:
              type: string
              enum:
              - AND
              - OR
            rules:
              type: array
              items:
                type: object
                description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                required:
                - id
                - customfield_id
                - operator
                - enabled
                x-alternatives:
                - type: object
                  description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                  required:
                  - id
                  - customfield_id
                  - operator
                  - enabled
                  x-properties:
                    id:
                      type: string
                    query_builder_id:
                      type: string
                    customfield_id:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                      enum:
                      - integer
                      - double
                      - boolean
                      - tri_state_boolean
                      - string
                      - long_string
                      - select
                      - date
                      - datetime
                      - file
                    input:
                      type: string
                    operator:
                      type: string
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                        - type: object
                          x-properties:
                            value1:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                            value2:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                      collectionFormat: multi
                      name: value
                    entity:
                      type: string
                      enum:
                      - account
                      - person
                      - opportunity
                      - campaign
                      - tag
                      - task
                      - workflow
                      - workflow_record
                      - workflow_step_record
                      - lead
                    display_entity:
                      type: string
                      enum:
                      - Account
                      - Contact
                      - Opportunity
                      - Campaign
                      - Tag
                      - Task
                      - Workflow
                      - Lead
                    pipeline:
                      type: number
                    enabled:
                      type: string
                    internal:
                      type: boolean
                - type: object
                  required:
                  - id
                  - operator
                  - value
                  - raw_value
                  x-properties:
                    id:
                      type: string
                    operator:
                      type: string
                      description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                      collectionFormat: multi
                      name: value
                    raw_value:
                      type: array
                      items:
                        type: object
                      collectionFormat: multi
                      name: raw_value
                    pipeline:
                      type: number
                - type: object
                  required:
                  - condition
                  x-properties:
                    condition:
                      type: string
                      enum:
                      - AND
                      - OR
                    rules:
                      type: array
                      items:
                        type: object
                        description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                        required:
                        - id
                        - customfield_id
                        - operator
                        - enabled
                        x-properties:
                          id:
                            type: string
                          query_builder_id:
                            type: string
                          customfield_id:
                            type: string
                          label:
                            type: string
                          type:
                            type: string
                            enum:
                            - integer
                            - double
                            - boolean
                            - tri_state_boolean
                            - string
                            - long_string
                            - select
                            - date
                            - datetime
                            - file
                          input:
                            type: string
                          operator:
                            type: string
                            enum:
                            - equal
                            - not_equal
                            - in
                            - not_in
                            - less
                            - less_or_equal
                            - greater
                            - greater_or_equal
                            - between
                            - not_between
                            - begins_with
                            - not_begins_with
                            - contains
                            - not_contains
                            - ends_with
                            - not_ends_with
                            - is_empty
                            - is_not_empty
                            - is_null
                            - is_not_null
                            - 'true'
                            - 'false'
                            - past_less
                            - past_exactly
                            - past_more_than
                            - future_less
                            - future_exactly
                            - future_more_than
                            - after
                            - 'on'
                            - before
                            - is
                            - is_not
                          value:
                            type: array
                            x-constraint:
                              single: true
                            items:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                              - type: string
                                format: date-time
                              - type: boolean
                              - type: object
                                x-properties:
                                  value1:
                                    type: string
                                    x-alternatives:
                                    - type: string
                                    - type: number
                                  value2:
                                    type: string
                                    x-alternatives:
                                    - type: string
                                    - type: number
                            collectionFormat: multi
                            name: value
                          entity:
                            type: string
                            enum:
                            - account
                            - person
                            - opportunity
                            - campaign
                            - tag
                            - task
                            - workflow
                            - workflow_record
                            - workflow_step_record
                            - lead
                          display_entity:
                            type: string
                            enum:
                            - Account
                            - Contact
                            - Opportunity
                            - Campaign
                            - Tag
                            - Task
                            - Workflow
                            - Lead
                          pipeline:
                            type: number
                          enabled:
                            type: string
                          internal:
                            type: boolean
                      collectionFormat: multi
                      name: rules
                    not:
                      type: boolean
                    valid:
                      type: boolean
                x-properties:
                  id:
                    type: string
                  query_builder_id:
                    type: string
                  customfield_id:
                    type: string
                  label:
                    type: string
                  type:
                    type: string
                    enum:
                    - integer
                    - double
                    - boolean
                    - tri_state_boolean
                    - string
                    - long_string
                    - select
                    - date
                    - datetime
                    - file
                  input:
                    type: string
                  operator:
                    type: string
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                      - type: object
                        x-properties:
                          value1:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                          value2:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                    collectionFormat: multi
                    name: value
                  entity:
                    type: string
                    enum:
                    - account
                    - person
                    - opportunity
                    - campaign
                    - tag
                    - task
                    - workflow
                    - workflow_record
                    - workflow_step_record
                    - lead
                  display_entity:
                    type: string
                    enum:
                    - Account
                    - Contact
                    - Opportunity
                    - Campaign
                    - Tag
                    - Task
                    - Workflow
                    - Lead
                  pipeline:
                    type: number
                  enabled:
                    type: string
                  internal:
                    type: boolean
              collectionFormat: multi
              name: rules
            order_by:
              type: string
              description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending. You can fetch available sort keys via a discover mode call.
            not:
              type: boolean
            valid:
              type: boolean
            search:
              type: string
        - type: array
          items:
            type: object
            required:
            - condition
            x-alternatives:
            - type: object
              required:
              - condition
              x-properties:
                condition:
                  type: string
                  enum:
                  - AND
                  - OR
                rules:
                  type: array
                  items:
                    type: object
                    description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                    required:
                    - id
                    - customfield_id
                    - operator
                    - enabled
                    x-properties:
                      id:
                        type: string
                      query_builder_id:
                        type: string
                      customfield_id:
                        type: string
                      label:
                        type: string
                      type:
                        type: string
                        enum:
                        - integer
                        - double
                        - boolean
                        - tri_state_boolean
                        - string
                        - long_string
                        - select
                        - date
                        - datetime
                        - file
                      input:
                        type: string
                      operator:
                        type: string
                        enum:
                        - equal
                        - not_equal
                        - in
                        - not_in
                        - less
                        - less_or_equal
                        - greater
                        - greater_or_equal
                        - between
                        - not_between
                        - begins_with
                        - not_begins_with
                        - contains
                        - not_contains
                        - ends_with
                        - not_ends_with
                        - is_empty
                        - is_not_empty
                        - is_null
                        - is_not_null
                        - 'true'
                        - 'false'
                        - past_less
                        - past_exactly
                        - past_more_than
                        - future_less
                        - future_exactly
                        - future_more_than
                        - after
                        - 'on'
                        - before
                        - is
                        - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                          - type: string
                            format: date-time
                          - type: boolean
                          - type: object
                            x-properties:
                              value1:
                                type: string
                                x-alternatives:
                                - type: string
                                - type: number
                              value2:
                                type: string
                                x-alternatives:
                                - type: string
                                - type: number
                        collectionFormat: multi
                        name: value
                      entity:
                        type: string
                        enum:
                        - account
                        - person
                        - opportunity
                        - campaign
                        - tag
                        - task
                        - workflow
                        - workflow_record
                        - workflow_step_record
                        - lead
                      display_entity:
                        type: string
                        enum:
                        - Account
                        - Contact
                        - Opportunity
                        - Campaign
                        - Tag
                        - Task
                        - Workflow
                        - Lead
                      pipeline:
                        type: number
                      enabled:
                        type: string
                      internal:
                        type: boolean
                  collectionFormat: multi
                  name: rules
                not:
                  type: boolean
                valid:
                  type: boolean
            - type: object
              description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
              required:
              - id
              - customfield_id
              - operator
              - enabled
              x-properties:
                id:
                  type: string
                query_builder_id:
                  type: string
                customfield_id:
                  type: string
                label:
                  type: string
                type:
                  type: string
                  enum:
                  - integer
                  - double
                  - boolean
                  - tri_state_boolean
                  - string
                  - long_string
                  - select
                  - date
                  - datetime
                  - file
                input:
                  type: string
                operator:
                  type: string
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                    - type: object
                      x-properties:
                        value1:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                        value2:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                  collectionFormat: multi
                  name: value
                entity:
                  type: string
                  enum:
                  - account
                  - person
                  - opportunity
                  - campaign
                  - tag
                  - task
                  - workflow
                  - workflow_record
                  - workflow_step_record
                  - lead
                display_entity:
                  type: string
                  enum:
                  - Account
                  - Contact
                  - Opportunity
                  - Campaign
                  - Tag
                  - Task
                  - Workflow
                  - Lead
                pipeline:
                  type: number
                enabled:
                  type: string
                internal:
                  type: boolean
            - type: object
              required:
              - id
              - operator
              - value
              - raw_value
              x-properties:
                id:
                  type: string
                operator:
                  type: string
                  description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                  collectionFormat: multi
                  name: value
                raw_value:
                  type: array
                  items:
                    type: object
                  collectionFormat: multi
                  name: raw_value
                pipeline:
                  type: number
            x-properties:
              condition:
                type: string
                enum:
                - AND
                - OR
              rules:
                type: array
                items:
                  type: object
                  description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                  required:
                  - id
                  - customfield_id
                  - operator
                  - enabled
                  x-properties:
                    id:
                      type: string
                    query_builder_id:
                      type: string
                    customfield_id:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                      enum:
                      - integer
                      - double
                      - boolean
                      - tri_state_boolean
                      - string
                      - long_string
                      - select
                      - date
                      - datetime
                      - file
                    input:
                      type: string
                    operator:
                      type: string
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                        - type: object
                          x-properties:
                            value1:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                            value2:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                      collectionFormat: multi
                      name: value
                    entity:
                      type: string
                      enum:
                      - account
                      - person
                      - opportunity
                      - campaign
                      - tag
                      - task
                      - workflow
                      - workflow_record
                      - workflow_step_record
                      - lead
                    display_entity:
                      type: string
                      enum:
                      - Account
                      - Contact
                      - Opportunity
                      - Campaign
                      - Tag
                      - Task
                      - Workflow
                      - Lead
                    pipeline:
                      type: number
                    enabled:
                      type: string
                    internal:
                      type: boolean
                collectionFormat: multi
                name: rules
              not:
                type: boolean
              valid:
                type: boolean
          collectionFormat: multi
          name: q
        name: q
        in: query
        x-type: object
        x-properties:
          condition:
            type: string
            enum:
            - AND
            - OR
          rules:
            type: array
            items:
              type: object
              description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
              required:
              - id
              - customfield_id
              - operator
              - enabled
              x-alternatives:
              - type: object
                description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                required:
                - id
                - customfield_id
                - operator
                - enabled
                x-properties:
                  id:
                    type: string
                  query_builder_id:
                    type: string
                  customfield_id:
                    type: string
                  label:
                    type: string
                  type:
                    type: string
                    enum:
                    - integer
                    - double
                    - boolean
                    - tri_state_boolean
                    - string
                    - long_string
                    - select
                    - date
                    - datetime
                    - file
                  input:
                    type: string
                  operator:
                    type: string
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                      - type: object
                        x-properties:
                          value1:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                          value2:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                    collectionFormat: multi
                    name: value
                  entity:
                    type: string
                    enum:
                    - account
                    - person
                    - opportunity
                    - campaign
                    - tag
                    - task
                    - workflow
                    - workflow_record
                    - workflow_step_record
                    - lead
                  display_entity:
                    type: string
                    enum:
                    - Account
                    - Contact
                    - Opportunity
                    - Campaign
                    - Tag
                    - Task
                    - Workflow
                    - Lead
                  pipeline:
                    type: number
                  enabled:
                    type: string
                  internal:
                    type: boolean
              - type: object
                required:
                - id
                - operator
                - value
                - raw_value
                x-properties:
                  id:
                    type: string
                  operator:
                    type: string
                    description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                    collectionFormat: multi
                    name: value
                  raw_value:
                    type: array
                    items:
                      type: object
                    collectionFormat: multi
                    name: raw_value
                  pipeline:
                    type: number
              - type: object
                required:
                - condition
                x-properties:
                  condition:
                    type: string
                    enum:
                    - AND
                    - OR
                  rules:
                    type: array
                    items:
                      type: object
                      description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                      required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                      x-properties:
                        id:
                          type: string
                        query_builder_id:
                          type: string
                        customfield_id:
                          type: string
                        label:
                          type: string
                        type:
                          type: string
                          enum:
                          - integer
                          - double
                          - boolean
                          - tri_state_boolean
                          - string
                          - long_string
                          - select
                          - date
                          - datetime
                          - file
                        input:
                          type: string
                        operator:
                          type: string
                          enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                        value:
                          type: array
                          x-constraint:
                            single: true
                          items:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                            - type: object
                              x-properties:
                                value1:
                                  type: string
                                  x-alternatives:
                                  - type: string
                                  - type: number
                                value2:
                                  type: string
                                  x-alternatives:
                                  - type: string
                                  - type: number
                          collectionFormat: multi
                          name: value
                        entity:
                          type: string
                          enum:
                          - account
                          - person
                          - opportunity
                          - campaign
                          - tag
                          - task
                          - workflow
                          - workflow_record
                          - workflow_step_record
                          - lead
                        display_entity:
                          type: string
                          enum:
                          - Account
                          - Contact
                          - Opportunity
                          - Campaign
                          - Tag
                          - Task
                          - Workflow
                          - Lead
                        pipeline:
                          type: number
                        enabled:
                          type: string
                        internal:
                          type: boolean
                    collectionFormat: multi
                    name: rules
                  not:
                    type: boolean
                  valid:
                    type: boolean
              x-properties:
                id:
                  type: string
                query_builder_id:
                  type: string
                customfield_id:
                  type: string
                label:
                  type: string
                type:
                  type: string
                  enum:
                  - integer
                  - double
                  - boolean
                  - tri_state_boolean
                  - string
                  - long_string
                  - select
                  - date
                  - datetime
                  - file
                input:
                  type: string
                operator:
                  type: string
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                    - type: object
                      x-properties:
                        value1:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                        value2:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                  collectionFormat: multi
                  name: value
                entity:
                  type: string
                  enum:
                  - account
                  - person
                  - opportunity
                  - campaign
                  - tag
                  - task
                  - workflow
                  - workflow_record
                  - workflow_step_record
                  - lead
                display_entity:
                  type: string
                  enum:
                  - Account
                  - Contact
                  - Opportunity
                  - Campaign
                  - Tag
                  - Task
                  - Workflow
                  - Lead
                pipeline:
                  type: number
                enabled:
                  type: string
                internal:
                  type: boolean
            collectionFormat: multi
            name: rules
          order_by:
            type: string
            description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending. You can fetch available sort keys via a discover mode call.
          not:
            type: boolean
          valid:
            type: boolean
          search:
            type: string
        schema:
          type: string
      tags:
      - Users
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
                  properties:
                    account:
                      type: object
                      properties:
                        id:
                          type: number
                        picture:
                          type: string
                        name:
                          type: string
                        domain:
                          type: string
                      required:
                      - id
                    id:
                      type: number
                    prefix:
                      type: string
                    firstname:
                      type: string
                    middle:
                      type: string
                    lastname:
                      type: string
                    suffix:
                      type: string
                    name:
                      type: string
                    email:
                      type: string
                      maxLength: 1000
                      x-format:
                        email:
                          ignoreLength: true
                          tlds:
                            allow: false
                          minDomainSegments: 1
                      x-convert:
                        case: lower
                    domain:
                      type: string
                    birth_date:
                      type: string
                    opt-out:
                      type: boolean
                    opt-out_date:
                      type: string
                      format: date-time
                    opt-out_campaign:
                      type: string
                    bounced:
                      type: boolean
                    bounced_date:
                      type: string
                      format: date-time
                    files:
                      type: array
                      items:
                        type: object
                    owner:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        email:
                          type: string
                        picture:
                          type: string
                      required:
                      - id
                    picture:
                      type: string
                    archived:
                      type: boolean
                    not_viewed:
                      type: boolean
                    can_edit:
                      type: boolean
                    creation_date:
                      type: string
                      format: date-time
                    modification_date:
                      type: string
                      format: date-time
                    type:
                      type: string
                    tags:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    addresses:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          city:
                            type: string
                          country:
                            type: string
                          region:
                            type: string
                            description: Deprecated. Use `state_region` instead.
                          state_region:
                            type: string
                          street:
                            type: string
                          type:
                            type: string
                          zip:
                            type: string
                        required:
                        - id
                    phone_number:
                      type: string
                    mobile_phone_number:
                      type: string
                    home_phone_number:
                      type: string
                    fax_number:
                      type: string
                    phone_numbers:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          number:
                            type: string
                          type:
                            type: string
                        required:
                        - id
                    positions:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          organisation:
                            type: string
                          role:
                            type: string
                    social_profiles:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          type:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                        required:
                        - id
                    organisation:
                      type: string
                    role:
                      type: string
                    custom:
                      type: object
                    last_email_date:
                      type: string
                      format: date-time
                    last_meeting_date:
                      type: string
                      format: date-time
                    connection_strength:
                      type: number
                  required:
                  - id
  /users/{id}:
    get:
      summary: Get user details
      operationId: getUsersId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      tags:
      - Users
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
x-tagGroups:
- name: General
  tags:
  - Tasks
  - Accounts
  - Contacts
  - Opportunities
  - Workflows
  - Insights
- name: Interactions
  tags:
  - Calls
  - Meetings
  - Internal Notes
- name: User Management
  tags:
  - Users
  - Groups
- name: Configuration
  tags:
  - Regional Settings
  - Pipelines
  - Custom Fields
  - Email Data Sources
  - Tags
  - Filter Fields
  - Persons
