openapi: 3.2.0
info:
  title: Salesflare Pipelines API
  version: 1.0.0
  description: '# Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.'
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/sf-logo-inverted.svg
    backgroundColor: '#0f1528'
    altText: Salesflare logo
servers:
- url: https://api.salesflare.com
tags:
- name: Pipelines
paths:
  /pipelines:
    get:
      summary: List pipelines
      operationId: getPipelines
      description: Request a list of pipelines with optional filters and pagination
      parameters:
      - name: search
        in: query
        schema:
          type: string
      - description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending.
        x-constraint:
          single: true
        name: order_by
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-alternatives:
        - type: object
          required:
          - condition
          - rules
          x-properties:
            condition:
              type: string
              enum:
              - AND
              - OR
            rules:
              type: array
              items:
                type: object
                description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                required:
                - id
                - customfield_id
                - operator
                - enabled
                x-alternatives:
                - type: object
                  description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                  required:
                  - id
                  - customfield_id
                  - operator
                  - enabled
                  x-properties:
                    id:
                      type: string
                    query_builder_id:
                      type: string
                    customfield_id:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                      enum:
                      - integer
                      - double
                      - boolean
                      - tri_state_boolean
                      - string
                      - long_string
                      - select
                      - date
                      - datetime
                      - file
                    input:
                      type: string
                    operator:
                      type: string
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                        - type: object
                          x-properties:
                            value1:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                            value2:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                      collectionFormat: multi
                      name: value
                    entity:
                      type: string
                      enum:
                      - account
                      - person
                      - opportunity
                      - campaign
                      - tag
                      - task
                      - workflow
                      - workflow_record
                      - workflow_step_record
                      - lead
                    display_entity:
                      type: string
                      enum:
                      - Account
                      - Contact
                      - Opportunity
                      - Campaign
                      - Tag
                      - Task
                      - Workflow
                      - Lead
                    pipeline:
                      type: number
                    enabled:
                      type: string
                    internal:
                      type: boolean
                - type: object
                  required:
                  - id
                  - operator
                  - value
                  - raw_value
                  x-properties:
                    id:
                      type: string
                    operator:
                      type: string
                      description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                      collectionFormat: multi
                      name: value
                    raw_value:
                      type: array
                      items:
                        type: object
                      collectionFormat: multi
                      name: raw_value
                    pipeline:
                      type: number
                - type: object
                  required:
                  - condition
                  x-properties:
                    condition:
                      type: string
                      enum:
                      - AND
                      - OR
                    rules:
                      type: array
                      items:
                        type: object
                        description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                        required:
                        - id
                        - customfield_id
                        - operator
                        - enabled
                        x-properties:
                          id:
                            type: string
                          query_builder_id:
                            type: string
                          customfield_id:
                            type: string
                          label:
                            type: string
                          type:
                            type: string
                            enum:
                            - integer
                            - double
                            - boolean
                            - tri_state_boolean
                            - string
                            - long_string
                            - select
                            - date
                            - datetime
                            - file
                          input:
                            type: string
                          operator:
                            type: string
                            enum:
                            - equal
                            - not_equal
                            - in
                            - not_in
                            - less
                            - less_or_equal
                            - greater
                            - greater_or_equal
                            - between
                            - not_between
                            - begins_with
                            - not_begins_with
                            - contains
                            - not_contains
                            - ends_with
                            - not_ends_with
                            - is_empty
                            - is_not_empty
                            - is_null
                            - is_not_null
                            - 'true'
                            - 'false'
                            - past_less
                            - past_exactly
                            - past_more_than
                            - future_less
                            - future_exactly
                            - future_more_than
                            - after
                            - 'on'
                            - before
                            - is
                            - is_not
                          value:
                            type: array
                            x-constraint:
                              single: true
                            items:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                              - type: string
                                format: date-time
                              - type: boolean
                              - type: object
                                x-properties:
                                  value1:
                                    type: string
                                    x-alternatives:
                                    - type: string
                                    - type: number
                                  value2:
                                    type: string
                                    x-alternatives:
                                    - type: string
                                    - type: number
                            collectionFormat: multi
                            name: value
                          entity:
                            type: string
                            enum:
                            - account
                            - person
                            - opportunity
                            - campaign
                            - tag
                            - task
                            - workflow
                            - workflow_record
                            - workflow_step_record
                            - lead
                          display_entity:
                            type: string
                            enum:
                            - Account
                            - Contact
                            - Opportunity
                            - Campaign
                            - Tag
                            - Task
                            - Workflow
                            - Lead
                          pipeline:
                            type: number
                          enabled:
                            type: string
                          internal:
                            type: boolean
                      collectionFormat: multi
                      name: rules
                    not:
                      type: boolean
                    valid:
                      type: boolean
                x-properties:
                  id:
                    type: string
                  query_builder_id:
                    type: string
                  customfield_id:
                    type: string
                  label:
                    type: string
                  type:
                    type: string
                    enum:
                    - integer
                    - double
                    - boolean
                    - tri_state_boolean
                    - string
                    - long_string
                    - select
                    - date
                    - datetime
                    - file
                  input:
                    type: string
                  operator:
                    type: string
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                      - type: object
                        x-properties:
                          value1:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                          value2:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                    collectionFormat: multi
                    name: value
                  entity:
                    type: string
                    enum:
                    - account
                    - person
                    - opportunity
                    - campaign
                    - tag
                    - task
                    - workflow
                    - workflow_record
                    - workflow_step_record
                    - lead
                  display_entity:
                    type: string
                    enum:
                    - Account
                    - Contact
                    - Opportunity
                    - Campaign
                    - Tag
                    - Task
                    - Workflow
                    - Lead
                  pipeline:
                    type: number
                  enabled:
                    type: string
                  internal:
                    type: boolean
              collectionFormat: multi
              name: rules
            order_by:
              type: string
              description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending. You can fetch available sort keys via a discover mode call.
            not:
              type: boolean
            valid:
              type: boolean
            search:
              type: string
        - type: array
          items:
            type: object
            required:
            - condition
            x-alternatives:
            - type: object
              required:
              - condition
              x-properties:
                condition:
                  type: string
                  enum:
                  - AND
                  - OR
                rules:
                  type: array
                  items:
                    type: object
                    description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                    required:
                    - id
                    - customfield_id
                    - operator
                    - enabled
                    x-properties:
                      id:
                        type: string
                      query_builder_id:
                        type: string
                      customfield_id:
                        type: string
                      label:
                        type: string
                      type:
                        type: string
                        enum:
                        - integer
                        - double
                        - boolean
                        - tri_state_boolean
                        - string
                        - long_string
                        - select
                        - date
                        - datetime
                        - file
                      input:
                        type: string
                      operator:
                        type: string
                        enum:
                        - equal
                        - not_equal
                        - in
                        - not_in
                        - less
                        - less_or_equal
                        - greater
                        - greater_or_equal
                        - between
                        - not_between
                        - begins_with
                        - not_begins_with
                        - contains
                        - not_contains
                        - ends_with
                        - not_ends_with
                        - is_empty
                        - is_not_empty
                        - is_null
                        - is_not_null
                        - 'true'
                        - 'false'
                        - past_less
                        - past_exactly
                        - past_more_than
                        - future_less
                        - future_exactly
                        - future_more_than
                        - after
                        - 'on'
                        - before
                        - is
                        - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                          - type: string
                            format: date-time
                          - type: boolean
                          - type: object
                            x-properties:
                              value1:
                                type: string
                                x-alternatives:
                                - type: string
                                - type: number
                              value2:
                                type: string
                                x-alternatives:
                                - type: string
                                - type: number
                        collectionFormat: multi
                        name: value
                      entity:
                        type: string
                        enum:
                        - account
                        - person
                        - opportunity
                        - campaign
                        - tag
                        - task
                        - workflow
                        - workflow_record
                        - workflow_step_record
                        - lead
                      display_entity:
                        type: string
                        enum:
                        - Account
                        - Contact
                        - Opportunity
                        - Campaign
                        - Tag
                        - Task
                        - Workflow
                        - Lead
                      pipeline:
                        type: number
                      enabled:
                        type: string
                      internal:
                        type: boolean
                  collectionFormat: multi
                  name: rules
                not:
                  type: boolean
                valid:
                  type: boolean
            - type: object
              description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
              required:
              - id
              - customfield_id
              - operator
              - enabled
              x-properties:
                id:
                  type: string
                query_builder_id:
                  type: string
                customfield_id:
                  type: string
                label:
                  type: string
                type:
                  type: string
                  enum:
                  - integer
                  - double
                  - boolean
                  - tri_state_boolean
                  - string
                  - long_string
                  - select
                  - date
                  - datetime
                  - file
                input:
                  type: string
                operator:
                  type: string
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                    - type: object
                      x-properties:
                        value1:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                        value2:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                  collectionFormat: multi
                  name: value
                entity:
                  type: string
                  enum:
                  - account
                  - person
                  - opportunity
                  - campaign
                  - tag
                  - task
                  - workflow
                  - workflow_record
                  - workflow_step_record
                  - lead
                display_entity:
                  type: string
                  enum:
                  - Account
                  - Contact
                  - Opportunity
                  - Campaign
                  - Tag
                  - Task
                  - Workflow
                  - Lead
                pipeline:
                  type: number
                enabled:
                  type: string
                internal:
                  type: boolean
            - type: object
              required:
              - id
              - operator
              - value
              - raw_value
              x-properties:
                id:
                  type: string
                operator:
                  type: string
                  description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                  collectionFormat: multi
                  name: value
                raw_value:
                  type: array
                  items:
                    type: object
                  collectionFormat: multi
                  name: raw_value
                pipeline:
                  type: number
            x-properties:
              condition:
                type: string
                enum:
                - AND
                - OR
              rules:
                type: array
                items:
                  type: object
                  description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                  required:
                  - id
                  - customfield_id
                  - operator
                  - enabled
                  x-properties:
                    id:
                      type: string
                    query_builder_id:
                      type: string
                    customfield_id:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                      enum:
                      - integer
                      - double
                      - boolean
                      - tri_state_boolean
                      - string
                      - long_string
                      - select
                      - date
                      - datetime
                      - file
                    input:
                      type: string
                    operator:
                      type: string
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                        - type: object
                          x-properties:
                            value1:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                            value2:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                      collectionFormat: multi
                      name: value
                    entity:
                      type: string
                      enum:
                      - account
                      - person
                      - opportunity
                      - campaign
                      - tag
                      - task
                      - workflow
                      - workflow_record
                      - workflow_step_record
                      - lead
                    display_entity:
                      type: string
                      enum:
                      - Account
                      - Contact
                      - Opportunity
                      - Campaign
                      - Tag
                      - Task
                      - Workflow
                      - Lead
                    pipeline:
                      type: number
                    enabled:
                      type: string
                    internal:
                      type: boolean
                collectionFormat: multi
                name: rules
              not:
                type: boolean
              valid:
                type: boolean
          collectionFormat: multi
          name: q
        name: q
        in: query
        x-type: object
        x-properties:
          condition:
            type: string
            enum:
            - AND
            - OR
          rules:
            type: array
            items:
              type: object
              description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
              required:
              - id
              - customfield_id
              - operator
              - enabled
              x-alternatives:
              - type: object
                description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                required:
                - id
                - customfield_id
                - operator
                - enabled
                x-properties:
                  id:
                    type: string
                  query_builder_id:
                    type: string
                  customfield_id:
                    type: string
                  label:
                    type: string
                  type:
                    type: string
                    enum:
                    - integer
                    - double
                    - boolean
                    - tri_state_boolean
                    - string
                    - long_string
                    - select
                    - date
                    - datetime
                    - file
                  input:
                    type: string
                  operator:
                    type: string
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                      - type: object
                        x-properties:
                          value1:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                          value2:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                    collectionFormat: multi
                    name: value
                  entity:
                    type: string
                    enum:
                    - account
                    - person
                    - opportunity
                    - campaign
                    - tag
                    - task
                    - workflow
                    - workflow_record
                    - workflow_step_record
                    - lead
                  display_entity:
                    type: string
                    enum:
                    - Account
                    - Contact
                    - Opportunity
                    - Campaign
                    - Tag
                    - Task
                    - Workflow
                    - Lead
                  pipeline:
                    type: number
                  enabled:
                    type: string
                  internal:
                    type: boolean
              - type: object
                required:
                - id
                - operator
                - value
                - raw_value
                x-properties:
                  id:
                    type: string
                  operator:
                    type: string
                    description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                    collectionFormat: multi
                    name: value
                  raw_value:
                    type: array
                    items:
                      type: object
                    collectionFormat: multi
                    name: raw_value
                  pipeline:
                    type: number
              - type: object
                required:
                - condition
                x-properties:
                  condition:
                    type: string
                    enum:
                    - AND
                    - OR
                  rules:
                    type: array
                    items:
                      type: object
                      description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                      required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                      x-properties:
                        id:
                          type: string
                        query_builder_id:
                          type: string
                        customfield_id:
                          type: string
                        label:
                          type: string
                        type:
                          type: string
                          enum:
                          - integer
                          - double
                          - boolean
                          - tri_state_boolean
                          - string
                          - long_string
                          - select
                          - date
                          - datetime
                          - file
                        input:
                          type: string
                        operator:
                          type: string
                          enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                        value:
                          type: array
                          x-constraint:
                            single: true
                          items:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                            - type: object
                              x-properties:
                                value1:
                                  type: string
                                  x-alternatives:
                                  - type: string
                                  - type: number
                                value2:
                                  type: string
                                  x-alternatives:
                                  - type: string
                                  - type: number
                          collectionFormat: multi
                          name: value
                        entity:
                          type: string
                          enum:
                          - account
                          - person
                          - opportunity
                          - campaign
                          - tag
                          - task
                          - workflow
                          - workflow_record
                          - workflow_step_record
                          - lead
                        display_entity:
                          type: string
                          enum:
                          - Account
                          - Contact
                          - Opportunity
                          - Campaign
                          - Tag
                          - Task
                          - Workflow
                          - Lead
                        pipeline:
                          type: number
                        enabled:
                          type: string
                        internal:
                          type: boolean
                    collectionFormat: multi
                    name: rules
                  not:
                    type: boolean
                  valid:
                    type: boolean
              x-properties:
                id:
                  type: string
                query_builder_id:
                  type: string
                customfield_id:
                  type: string
                label:
                  type: string
                type:
                  type: string
                  enum:
                  - integer
                  - double
                  - boolean
                  - tri_state_boolean
                  - string
                  - long_string
                  - select
                  - date
                  - datetime
                  - file
                input:
                  type: string
                operator:
                  type: string
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                    - type: object
                      x-properties:
                        value1:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                        value2:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                  collectionFormat: multi
                  name: value
                entity:
                  type: string
                  enum:
                  - account
                  - person
                  - opportunity
                  - campaign
                  - tag
                  - task
                  - workflow
                  - workflow_record
                  - workflow_step_record
                  - lead
                display_entity:
                  type: string
                  enum:
                  - Account
                  - Contact
                  - Opportunity
                  - Campaign
                  - Tag
                  - Task
                  - Workflow
                  - Lead
                pipeline:
                  type: number
                enabled:
                  type: string
                internal:
                  type: boolean
            collectionFormat: multi
            name: rules
          order_by:
            type: string
            description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending. You can fetch available sort keys via a discover mode call.
          not:
            type: boolean
          valid:
            type: boolean
          search:
            type: string
        schema:
          type: string
      tags:
      - Pipelines
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    team:
                      type: number
                    name:
                      type: string
                    currency:
                      type: object
                      properties:
                        id:
                          type: number
                        html:
                          type: string
                        iso:
                          type: string
                    follows_default_team_currency:
                      type: boolean
                    order:
                      type: number
                    stages:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          color:
                            type: string
                          probability:
                            type: number
                          name:
                            type: string
                          fixed_stage:
                            type: number
                          days_until_account_inactive:
                            type: number
                          order:
                            type: number
                        required:
                        - name
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                    recurring:
                      type: boolean
                      default: false
                    default_pipeline:
                      type: boolean
                    expected_customer_lifetime_months:
                      type: number
                    standard_price_per_unit_annually:
                      type: number
                    standard_price_per_unit_monthly:
                      type: number
                    standard_price_per_unit_weekly:
                      type: number
                    standard_price_per_unit_daily:
                      type: number
                    archived:
                      type: boolean
                    creation_date:
                      type: string
                      format: date-time
                    modification_date:
                      type: string
                      format: date-time
  /stages:
    get:
      summary: List stages
      operationId: getStages
      parameters:
      - name: id
        in: query
        schema:
          type: number
      - name: name
        in: query
        schema:
          type: string
      - name: pipeline.id
        in: query
        schema:
          type: number
      - name: pipeline.name
        in: query
        schema:
          type: string
      - x-alternatives:
        - type: string
        - type: array
          items:
            type: string
          collectionFormat: multi
          name: order_by
        name: order_by
        in: query
        schema:
          type: string
      tags:
      - Pipelines
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
  /stages/{stage_id}:
    get:
      summary: Get stage details
      operationId: getStagesStage_id
      parameters:
      - name: stage_id
        in: path
        required: true
        schema:
          type: number
      tags:
      - Pipelines
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
x-tagGroups:
- name: General
  tags:
  - Tasks
  - Accounts
  - Contacts
  - Opportunities
  - Workflows
  - Insights
- name: Interactions
  tags:
  - Calls
  - Meetings
  - Internal Notes
- name: User Management
  tags:
  - Users
  - Groups
- name: Configuration
  tags:
  - Regional Settings
  - Pipelines
  - Custom Fields
  - Email Data Sources
  - Tags
  - Filter Fields
  - Persons
