openapi: 3.2.0
info:
  title: Salesflare AI Message Feedbacks API
  version: 1.0.0
  description: '# Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.'
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/sf-logo-inverted.svg
    backgroundColor: '#0f1528'
    altText: Salesflare logo
servers:
- url: https://api.salesflare.com
tags:
- name: AI Message Feedbacks
paths:
  /message/{message_id}/feedback:
    post:
      summary: Create an internal note
      operationId: postMessageMessage_idFeedback
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        $ref: '#/components/requestBodies/postMessageMessage_idFeedbackBody'
      tags:
      - AI Message Feedbacks
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
  /messages/{message_id}/feedback:
    post:
      summary: Create an internal note
      operationId: postMessagesMessage_idFeedback
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        $ref: '#/components/requestBodies/postMessageMessage_idFeedbackBody'
      tags:
      - AI Message Feedbacks
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
components:
  requestBodies:
    postMessageMessage_idFeedbackBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              feedback:
                type: string
            required:
            - feedback
x-tagGroups:
- name: General
  tags:
  - Tasks
  - Accounts
  - Contacts
  - Opportunities
  - Workflows
  - Insights
- name: Interactions
  tags:
  - Calls
  - Meetings
  - Internal Notes
- name: User Management
  tags:
  - Users
  - Groups
- name: Configuration
  tags:
  - Regional Settings
  - Pipelines
  - Custom Fields
  - Email Data Sources
  - Tags
  - Filter Fields
  - Persons
