openapi: 3.0.0
info:
  title: Salesflare Accounts Contacts API
  version: 1.0.0
  description: '# Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.


    The Salesflare API provides a RESTful interface with JSON-formatted responses to access most Salesflare resources.


    ## Authentication


    The Salesflare API uses bearer token based authentication, which means you need to use the key-value pair "Authorization : Bearer APIKEY" in the header to authenticate.


    You can make an API key in ["Settings" > "API keys"](https://app.salesflare.com/#/settings/apikeys).


    Click on the large orange "+" button on the bottom right of the screen to create an API key.


    ![Screenshot API Key Settings](https://lib.salesflare.com/api_docs/screenshot_settings_apikeys.png?v=2)


    ## Requests


    All requests must be sent using HTTPS with TLS 1.2 or higher. Please make sure your developer tools support this version of TLS as older versions or SSL are not supported for security reasons.


    For PUT or POST requests (e.g. create, update), the payload must be provided as JSON in the request body.


    ## Responses


    Responses use HTTP status codes, with the most typical ones being:


    | Code                   | Meaning               |

    |------------------------|-----------------------|

    | Successful Responses                           |

    | 200                    | OK                    |

    | Error Responses                                |

    | 400                    | Bad Request           |

    | 401                    | Unauthorized          |

    | 404                    | Not Found             |

    | 429                    | Too Many Requests     |

    | 500                    | Internal Server Error |


    ## Testing


    We recommend testing our API with Postman.


    ### Download specification


    Our API is documented following the OpenAPI specification. You can download it [here](https://api.salesflare.com/openapi.json)


    ### Import in Postman


    To import the collection, open Postman and click Import, then select "Import From Link"


    Copy & Paste the following link and press the "Import" button:


    > https://api.salesflare.com/openapi.json


    ![Screenshot Postman Import](https://lib.salesflare.com/api_docs/screenshot_postman_import.png)


    ## Support


    For API questions and support, please email support@salesflare.com or click the chat bubble below.'
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/sf-logo-inverted.svg
    backgroundColor: '#0f1528'
    altText: Salesflare logo
servers:
- url: https://api.salesflare.com
tags:
- name: Contacts
paths:
  /contacts:
    get:
      summary: List contacts
      operationId: getContacts
      description: Request a list of contacts with optional filters and pagination
      parameters:
      - x-constraint:
          single: true
        name: id
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - name: name
        in: query
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
      - name: phone_number
        in: query
        schema:
          type: string
      - name: domain
        in: query
        schema:
          type: string
      - name: modification_after
        in: query
        schema:
          type: string
          format: date-time
      - name: modification_before
        in: query
        schema:
          type: string
          format: date-time
      - name: creation_after
        in: query
        schema:
          type: string
          format: date-time
      - name: creation_before
        in: query
        schema:
          type: string
          format: date-time
      - x-constraint:
          single: true
        name: account
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - x-constraint:
          single: true
        name: tag
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - x-constraint:
          single: true
        name: tag.name
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: position.role
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: address.country
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: address.state_region
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - x-constraint:
          single: true
        name: address.city
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: includeArchived
        in: query
        schema:
          type: boolean
      - name: search
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
          enum:
          - customer
          - mycontacts
      - name: limit
        in: query
        schema:
          type: number
          minimum: 1
          default: 20
      - name: offset
        in: query
        schema:
          type: number
          default: 0
      - name: custom
        in: query
        x-type: object
        schema:
          type: string
      - description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending.
        x-constraint:
          single: true
        name: order_by
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: export
        in: query
        schema:
          type: string
      - x-alternatives:
        - type: object
          required:
          - condition
          - rules
          x-properties:
            condition:
              type: string
              enum:
              - AND
              - OR
            rules:
              type: array
              items:
                type: object
                description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                required:
                - id
                - customfield_id
                - operator
                - enabled
                x-alternatives:
                - type: object
                  description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                  required:
                  - id
                  - customfield_id
                  - operator
                  - enabled
                  x-properties:
                    id:
                      type: string
                    query_builder_id:
                      type: string
                    customfield_id:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                      enum:
                      - integer
                      - double
                      - boolean
                      - tri_state_boolean
                      - string
                      - long_string
                      - select
                      - date
                      - datetime
                      - file
                    input:
                      type: string
                    operator:
                      type: string
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                        - type: object
                          x-properties:
                            value1:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                            value2:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                      collectionFormat: multi
                      name: value
                    entity:
                      type: string
                      enum:
                      - account
                      - person
                      - opportunity
                      - campaign
                      - tag
                      - task
                      - workflow
                      - workflow_record
                      - workflow_step_record
                      - lead
                    display_entity:
                      type: string
                      enum:
                      - Account
                      - Contact
                      - Opportunity
                      - Campaign
                      - Tag
                      - Task
                      - Workflow
                      - Lead
                    pipeline:
                      type: number
                    enabled:
                      type: string
                    internal:
                      type: boolean
                - type: object
                  required:
                  - id
                  - operator
                  - value
                  - raw_value
                  x-properties:
                    id:
                      type: string
                    operator:
                      type: string
                      description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                      collectionFormat: multi
                      name: value
                    raw_value:
                      type: array
                      items:
                        type: object
                      collectionFormat: multi
                      name: raw_value
                    pipeline:
                      type: number
                - type: object
                  required:
                  - condition
                  x-properties:
                    condition:
                      type: string
                      enum:
                      - AND
                      - OR
                    rules:
                      type: array
                      items:
                        type: object
                        description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                        required:
                        - id
                        - customfield_id
                        - operator
                        - enabled
                        x-properties:
                          id:
                            type: string
                          query_builder_id:
                            type: string
                          customfield_id:
                            type: string
                          label:
                            type: string
                          type:
                            type: string
                            enum:
                            - integer
                            - double
                            - boolean
                            - tri_state_boolean
                            - string
                            - long_string
                            - select
                            - date
                            - datetime
                            - file
                          input:
                            type: string
                          operator:
                            type: string
                            enum:
                            - equal
                            - not_equal
                            - in
                            - not_in
                            - less
                            - less_or_equal
                            - greater
                            - greater_or_equal
                            - between
                            - not_between
                            - begins_with
                            - not_begins_with
                            - contains
                            - not_contains
                            - ends_with
                            - not_ends_with
                            - is_empty
                            - is_not_empty
                            - is_null
                            - is_not_null
                            - 'true'
                            - 'false'
                            - past_less
                            - past_exactly
                            - past_more_than
                            - future_less
                            - future_exactly
                            - future_more_than
                            - after
                            - 'on'
                            - before
                            - is
                            - is_not
                          value:
                            type: array
                            x-constraint:
                              single: true
                            items:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                              - type: string
                                format: date-time
                              - type: boolean
                              - type: object
                                x-properties:
                                  value1:
                                    type: string
                                    x-alternatives:
                                    - type: string
                                    - type: number
                                  value2:
                                    type: string
                                    x-alternatives:
                                    - type: string
                                    - type: number
                            collectionFormat: multi
                            name: value
                          entity:
                            type: string
                            enum:
                            - account
                            - person
                            - opportunity
                            - campaign
                            - tag
                            - task
                            - workflow
                            - workflow_record
                            - workflow_step_record
                            - lead
                          display_entity:
                            type: string
                            enum:
                            - Account
                            - Contact
                            - Opportunity
                            - Campaign
                            - Tag
                            - Task
                            - Workflow
                            - Lead
                          pipeline:
                            type: number
                          enabled:
                            type: string
                          internal:
                            type: boolean
                      collectionFormat: multi
                      name: rules
                    not:
                      type: boolean
                    valid:
                      type: boolean
                x-properties:
                  id:
                    type: string
                  query_builder_id:
                    type: string
                  customfield_id:
                    type: string
                  label:
                    type: string
                  type:
                    type: string
                    enum:
                    - integer
                    - double
                    - boolean
                    - tri_state_boolean
                    - string
                    - long_string
                    - select
                    - date
                    - datetime
                    - file
                  input:
                    type: string
                  operator:
                    type: string
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                      - type: object
                        x-properties:
                          value1:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                          value2:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                    collectionFormat: multi
                    name: value
                  entity:
                    type: string
                    enum:
                    - account
                    - person
                    - opportunity
                    - campaign
                    - tag
                    - task
                    - workflow
                    - workflow_record
                    - workflow_step_record
                    - lead
                  display_entity:
                    type: string
                    enum:
                    - Account
                    - Contact
                    - Opportunity
                    - Campaign
                    - Tag
                    - Task
                    - Workflow
                    - Lead
                  pipeline:
                    type: number
                  enabled:
                    type: string
                  internal:
                    type: boolean
              collectionFormat: multi
              name: rules
            order_by:
              type: string
              description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending. You can fetch available sort keys via a discover mode call.
            not:
              type: boolean
            valid:
              type: boolean
            search:
              type: string
        - type: array
          items:
            type: object
            required:
            - condition
            x-alternatives:
            - type: object
              required:
              - condition
              x-properties:
                condition:
                  type: string
                  enum:
                  - AND
                  - OR
                rules:
                  type: array
                  items:
                    type: object
                    description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                    required:
                    - id
                    - customfield_id
                    - operator
                    - enabled
                    x-properties:
                      id:
                        type: string
                      query_builder_id:
                        type: string
                      customfield_id:
                        type: string
                      label:
                        type: string
                      type:
                        type: string
                        enum:
                        - integer
                        - double
                        - boolean
                        - tri_state_boolean
                        - string
                        - long_string
                        - select
                        - date
                        - datetime
                        - file
                      input:
                        type: string
                      operator:
                        type: string
                        enum:
                        - equal
                        - not_equal
                        - in
                        - not_in
                        - less
                        - less_or_equal
                        - greater
                        - greater_or_equal
                        - between
                        - not_between
                        - begins_with
                        - not_begins_with
                        - contains
                        - not_contains
                        - ends_with
                        - not_ends_with
                        - is_empty
                        - is_not_empty
                        - is_null
                        - is_not_null
                        - 'true'
                        - 'false'
                        - past_less
                        - past_exactly
                        - past_more_than
                        - future_less
                        - future_exactly
                        - future_more_than
                        - after
                        - 'on'
                        - before
                        - is
                        - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                          - type: string
                            format: date-time
                          - type: boolean
                          - type: object
                            x-properties:
                              value1:
                                type: string
                                x-alternatives:
                                - type: string
                                - type: number
                              value2:
                                type: string
                                x-alternatives:
                                - type: string
                                - type: number
                        collectionFormat: multi
                        name: value
                      entity:
                        type: string
                        enum:
                        - account
                        - person
                        - opportunity
                        - campaign
                        - tag
                        - task
                        - workflow
                        - workflow_record
                        - workflow_step_record
                        - lead
                      display_entity:
                        type: string
                        enum:
                        - Account
                        - Contact
                        - Opportunity
                        - Campaign
                        - Tag
                        - Task
                        - Workflow
                        - Lead
                      pipeline:
                        type: number
                      enabled:
                        type: string
                      internal:
                        type: boolean
                  collectionFormat: multi
                  name: rules
                not:
                  type: boolean
                valid:
                  type: boolean
            - type: object
              description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
              required:
              - id
              - customfield_id
              - operator
              - enabled
              x-properties:
                id:
                  type: string
                query_builder_id:
                  type: string
                customfield_id:
                  type: string
                label:
                  type: string
                type:
                  type: string
                  enum:
                  - integer
                  - double
                  - boolean
                  - tri_state_boolean
                  - string
                  - long_string
                  - select
                  - date
                  - datetime
                  - file
                input:
                  type: string
                operator:
                  type: string
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                    - type: object
                      x-properties:
                        value1:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                        value2:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                  collectionFormat: multi
                  name: value
                entity:
                  type: string
                  enum:
                  - account
                  - person
                  - opportunity
                  - campaign
                  - tag
                  - task
                  - workflow
                  - workflow_record
                  - workflow_step_record
                  - lead
                display_entity:
                  type: string
                  enum:
                  - Account
                  - Contact
                  - Opportunity
                  - Campaign
                  - Tag
                  - Task
                  - Workflow
                  - Lead
                pipeline:
                  type: number
                enabled:
                  type: string
                internal:
                  type: boolean
            - type: object
              required:
              - id
              - operator
              - value
              - raw_value
              x-properties:
                id:
                  type: string
                operator:
                  type: string
                  description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                  collectionFormat: multi
                  name: value
                raw_value:
                  type: array
                  items:
                    type: object
                  collectionFormat: multi
                  name: raw_value
                pipeline:
                  type: number
            x-properties:
              condition:
                type: string
                enum:
                - AND
                - OR
              rules:
                type: array
                items:
                  type: object
                  description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                  required:
                  - id
                  - customfield_id
                  - operator
                  - enabled
                  x-properties:
                    id:
                      type: string
                    query_builder_id:
                      type: string
                    customfield_id:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                      enum:
                      - integer
                      - double
                      - boolean
                      - tri_state_boolean
                      - string
                      - long_string
                      - select
                      - date
                      - datetime
                      - file
                    input:
                      type: string
                    operator:
                      type: string
                      enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                    value:
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: string
                        x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                        - type: object
                          x-properties:
                            value1:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                            value2:
                              type: string
                              x-alternatives:
                              - type: string
                              - type: number
                      collectionFormat: multi
                      name: value
                    entity:
                      type: string
                      enum:
                      - account
                      - person
                      - opportunity
                      - campaign
                      - tag
                      - task
                      - workflow
                      - workflow_record
                      - workflow_step_record
                      - lead
                    display_entity:
                      type: string
                      enum:
                      - Account
                      - Contact
                      - Opportunity
                      - Campaign
                      - Tag
                      - Task
                      - Workflow
                      - Lead
                    pipeline:
                      type: number
                    enabled:
                      type: string
                    internal:
                      type: boolean
                collectionFormat: multi
                name: rules
              not:
                type: boolean
              valid:
                type: boolean
          collectionFormat: multi
          name: q
        name: q
        in: query
        x-type: object
        x-properties:
          condition:
            type: string
            enum:
            - AND
            - OR
          rules:
            type: array
            items:
              type: object
              description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
              required:
              - id
              - customfield_id
              - operator
              - enabled
              x-alternatives:
              - type: object
                description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                required:
                - id
                - customfield_id
                - operator
                - enabled
                x-properties:
                  id:
                    type: string
                  query_builder_id:
                    type: string
                  customfield_id:
                    type: string
                  label:
                    type: string
                  type:
                    type: string
                    enum:
                    - integer
                    - double
                    - boolean
                    - tri_state_boolean
                    - string
                    - long_string
                    - select
                    - date
                    - datetime
                    - file
                  input:
                    type: string
                  operator:
                    type: string
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                      - type: object
                        x-properties:
                          value1:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                          value2:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                    collectionFormat: multi
                    name: value
                  entity:
                    type: string
                    enum:
                    - account
                    - person
                    - opportunity
                    - campaign
                    - tag
                    - task
                    - workflow
                    - workflow_record
                    - workflow_step_record
                    - lead
                  display_entity:
                    type: string
                    enum:
                    - Account
                    - Contact
                    - Opportunity
                    - Campaign
                    - Tag
                    - Task
                    - Workflow
                    - Lead
                  pipeline:
                    type: number
                  enabled:
                    type: string
                  internal:
                    type: boolean
              - type: object
                required:
                - id
                - operator
                - value
                - raw_value
                x-properties:
                  id:
                    type: string
                  operator:
                    type: string
                    description: '`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are Deprecated. Do not use this field. and should not be used.'
                    enum:
                    - equal
                    - not_equal
                    - in
                    - not_in
                    - less
                    - less_or_equal
                    - greater
                    - greater_or_equal
                    - between
                    - not_between
                    - begins_with
                    - not_begins_with
                    - contains
                    - not_contains
                    - ends_with
                    - not_ends_with
                    - is_empty
                    - is_not_empty
                    - is_null
                    - is_not_null
                    - 'true'
                    - 'false'
                    - past_less
                    - past_exactly
                    - past_more_than
                    - future_less
                    - future_exactly
                    - future_more_than
                    - after
                    - 'on'
                    - before
                    - is
                    - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: number
                      - type: string
                        format: date-time
                      - type: boolean
                    collectionFormat: multi
                    name: value
                  raw_value:
                    type: array
                    items:
                      type: object
                    collectionFormat: multi
                    name: raw_value
                  pipeline:
                    type: number
              - type: object
                required:
                - condition
                x-properties:
                  condition:
                    type: string
                    enum:
                    - AND
                    - OR
                  rules:
                    type: array
                    items:
                      type: object
                      description: Deprecated. Use the slim version with only `id`, `operator`, and `value`.
                      required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                      x-properties:
                        id:
                          type: string
                        query_builder_id:
                          type: string
                        customfield_id:
                          type: string
                        label:
                          type: string
                        type:
                          type: string
                          enum:
                          - integer
                          - double
                          - boolean
                          - tri_state_boolean
                          - string
                          - long_string
                          - select
                          - date
                          - datetime
                          - file
                        input:
                          type: string
                        operator:
                          type: string
                          enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                        value:
                          type: array
                          x-constraint:
                            single: true
                          items:
                            type: string
                            x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                            - type: object
                              x-properties:
                                value1:
                                  type: string
                                  x-alternatives:
                                  - type: string
                                  - type: number
                                value2:
                                  type: string
                                  x-alternatives:
                                  - type: string
                                  - type: number
                          collectionFormat: multi
                          name: value
                        entity:
                          type: string
                          enum:
                          - account
                          - person
                          - opportunity
                          - campaign
                          - tag
                          - task
                          - workflow
                          - workflow_record
                          - workflow_step_record
                          - lead
                        display_entity:
                          type: string
                          enum:
                          - Account
                          - Contact
                          - Opportunity
                          - Campaign
                          - Tag
                          - Task
                          - Workflow
                          - Lead
                        pipeline:
                          type: number
                        enabled:
                          type: string
                        internal:
                          type: boolean
                    collectionFormat: multi
                    name: rules
                  not:
                    type: boolean
                  valid:
                    type: boolean
              x-properties:
                id:
                  type: string
                query_builder_id:
                  type: string
                customfield_id:
                  type: string
                label:
                  type: string
                type:
                  type: string
                  enum:
                  - integer
                  - double
                  - boolean
                  - tri_state_boolean
                  - string
                  - long_string
                  - select
                  - date
                  - datetime
                  - file
                input:
                  type: string
                operator:
                  type: string
                  enum:
                  - equal
                  - not_equal
                  - in
                  - not_in
                  - less
                  - less_or_equal
                  - greater
                  - greater_or_equal
                  - between
                  - not_between
                  - begins_with
                  - not_begins_with
                  - contains
                  - not_contains
                  - ends_with
                  - not_ends_with
                  - is_empty
                  - is_not_empty
                  - is_null
                  - is_not_null
                  - 'true'
                  - 'false'
                  - past_less
                  - past_exactly
                  - past_more_than
                  - future_less
                  - future_exactly
                  - future_more_than
                  - after
                  - 'on'
                  - before
                  - is
                  - is_not
                value:
                  type: array
                  x-constraint:
                    single: true
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: number
                    - type: string
                      format: date-time
                    - type: boolean
                    - type: object
                      x-properties:
                        value1:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                        value2:
                          type: string
                          x-alternatives:
                          - type: string
                          - type: number
                  collectionFormat: multi
                  name: value
                entity:
                  type: string
                  enum:
                  - account
                  - person
                  - opportunity
                  - campaign
                  - tag
                  - task
                  - workflow
                  - workflow_record
                  - workflow_step_record
                  - lead
                display_entity:
                  type: string
                  enum:
                  - Account
                  - Contact
                  - Opportunity
                  - Campaign
                  - Tag
                  - Task
                  - Workflow
                  - Lead
                pipeline:
                  type: number
                enabled:
                  type: string
                internal:
                  type: boolean
            collectionFormat: multi
            name: rules
          order_by:
            type: string
            description: Sort instructions. Provide either 'key' (ascending) or 'key desc' (descending). Default sort order is ascending. You can fetch available sort keys via a discover mode call.
          not:
            type: boolean
          valid:
            type: boolean
          search:
            type: string
        schema:
          type: string
      tags:
      - Contacts
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
    post:
      summary: Create a contact
      operationId: postContacts
      description: Create a contact. When payload is an array you will get an array back, if just an object or an array with 1 item you get an object back.
      parameters:
      - description: When `force` is `false`, the contact is not created if a contact with the same email address previously existed.
        name: force
        in: query
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              type: array
              x-constraint:
                single: true
              items:
                type: object
                properties:
                  owner:
                    type: number
                    description: The ID of the user who owns the contact.
                  domain:
                    type: string
                    description: The contact domain.
                  email:
                    type: string
                    description: The contact email address.
                    maxLength: 1000
                    x-format:
                      email:
                        ignoreLength: true
                        tlds:
                          allow: false
                        minDomainSegments: 1
                    x-convert:
                      case: lower
                      trim: true
                  prefix:
                    type: string
                    description: The contact name prefix.
                  firstname:
                    type: string
                    description: The contact first name.
                  middle:
                    type: string
                    description: The contact middle name.
                  lastname:
                    type: string
                    description: The contact last name.
                  suffix:
                    type: string
                    description: The contact name suffix.
                  name:
                    type: string
                    description: The full name of the contact.
                  picture:
                    type: string
                    description: The profile picture URL of the contact.
                    maxLength: 500
                  account:
                    type: number
                    description: The Salesflare ID of the account to link to this contact. If you explicitly pass `null`, any existing linked account is removed.
                  birth_date:
                    type: string
                    format: date-time
                    description: The contact birth date (ISO 8601 date-time).
                  opt-out:
                    type: boolean
                    description: Whether the contact has opted out of communications.
                  opt-out_date:
                    type: string
                    format: date-time
                    description: The date and time the contact opted out of communications (ISO 8601 date-time).
                  opt-out_campaign:
                    type: string
                  bounced:
                    type: boolean
                    description: Whether emails to this contact have bounced.
                  bounced_date:
                    type: string
                    format: date-time
                    description: The date and time emails to this contact bounced (ISO 8601 date-time).
                  files:
                    type: array
                    description: List of files associated with the contact.
                    items:
                      type: object
                  tags:
                    type: array
                    description: List of tags associated with the contact.
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          team:
                            type: number
                          creation_date:
                            type: string
                          modification_date:
                            type: string
                          _deleted:
                            type: boolean
                          _dirty:
                            type: string
                            description: Deprecated. This field is ignored.
                  address:
                    type: object
                    description: The primary address of the contact.
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                        maxLength: 50
                      region:
                        type: string
                        description: Deprecated. Use `state_region` instead.
                      state_region:
                        type: string
                      street:
                        type: string
                      type:
                        type: string
                      zip:
                        type: string
                  addresses:
                    type: array
                    description: List of addresses associated with the contact.
                    items:
                      type: object
                      properties:
                        city:
                          type: string
                        country:
                          type: string
                          maxLength: 50
                        region:
                          type: string
                          description: Deprecated. Use `state_region` instead.
                        state_region:
                          type: string
                        street:
                          type: string
                        type:
                          type: string
                        zip:
                          type: string
                  phone_number:
                    type: string
                    description: The primary phone number of the contact.
                  mobile_phone_number:
                    type: string
                    description: The mobile phone number of the contact.
                  home_phone_number:
                    type: string
                    description: The home phone number of the contact.
                  fax_number:
                    type: string
                    description: The fax number of the contact.
                  phone_numbers:
                    type: array
                    description: List of phone numbers associated with the contact.
                    items:
                      type: object
                      properties:
                        number:
                          type: string
                        type:
                          type: string
                      required:
                      - number
                  position:
                    type: object
                    description: The primary position of the contact.
                    properties:
                      organisation:
                        type: string
                      role:
                        type: string
                  positions:
                    type: array
                    description: List of positions associated with the contact.
                    items:
                      type: object
                      properties:
                        end_date:
                          type: string
                          format: date-time
                        start_date:
                          type: string
                          format: date-time
                        current:
                          type: boolean
                        primary:
                          type: boolean
                        organisation:
                          type: string
                        role:
                          type: string
                  social_profiles:
                    type: array
                    description: List of social profiles associated with the contact.
                    items:
                      type: string
                      x-alternatives:
                      - type: string
                      - type: object
                        properties:
                          type:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                  custom:
                    type: object
                    description: Custom field values associated with the contact.
      tags:
      - Contacts
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                type: array
                x-constraint:
                  single: true
                items:
                  type: object
                  properties:
                    id:
                      type: number
  /contacts/{contact_id}:
    get:
      summary: Get contact details
      operationId: getContactsContact_id
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: number
      tags:
      - Contacts
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
    put:
      summary: Update a contact
      operationId: putContactsContact_id
      description: Update a contact
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: number
      - description: When `force` is `false`, the contact name is not updated if the provided name only matches the first part of the email address.
        name: force
        in: query
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: The contact name prefix.
                firstname:
                  type: string
                  description: The contact first name.
                middle:
                  type: string
                  description: The contact middle name.
                lastname:
                  type: string
                  description: The contact last name.
                suffix:
                  type: string
                  description: The contact name suffix.
                email:
                  type: string
                  description: The contact email address.
                  maxLength: 1000
                  x-format:
                    email:
                      ignoreLength: true
                      tlds:
                        allow: false
                      minDomainSegments: 1
                  x-convert:
                    case: lower
                    trim: true
                role:
                  type: string
                  description: The contact role at their organization.
                name:
                  type: string
                  description: The full name of the contact.
                owner:
                  type: number
                  description: The ID of the user who owns the contact.
                  x-alternatives:
                  - type: number
                    description: The ID of the user who owns the contact.
                  - type: object
                    properties:
                      id:
                        type: number
                        description: The ID of the user who owns the contact.
                    required:
                    - id
                  - type: string
                picture:
                  type: string
                  description: The profile picture URL of the contact.
                account:
                  type: number
                  description: The Salesflare ID of the account linked to this contact. If you explicitly pass `null`, any existing linked account is removed.
                birth_date:
                  type: string
                  format: date-time
                  description: The contact birth date (ISO 8601 date-time).
                opt-out:
                  type: boolean
                  description: Whether the contact has opted out of communications.
                opt-out_date:
                  type: string
                  format: date-time
                  description: The date and time the contact opted out of communications (ISO 8601 date-time).
                opt-out_campaign:
                  type: string
                  description: The campaign from which the contact opted out.
                bounced:
                  type: boolean
                  description: Whether emails to this contact have bounced.
                bounced_date:
                  type: string
                  format: date-time
                  description: The date and time emails to this contact bounced (ISO 8601 date-time).
                files:
                  type: array
                  description: List of files associated with the contact.
                  items:
                    type: object
                tags:
                  type: array
                  description: List of tags associated with the contact.
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        team:
                          type: number
                        creation_date:
                          type: string
                        modification_date:
                          type: string
                        _deleted:
                          type: boolean
                        _dirty:
                          type: string
                          description: Deprecated. This field is ignored.
                address:
                  type: object
                  properties:
                    id:
                      type: number
                      description: The address ID.
                    city:
                      type: string
                      description: The address city.
                    country:
                      type: string
                      description: The address country.
                      maxLength: 50
                    region:
                      type: string
                      description: Deprecated. Use `state_region` instead.
                    state_region:
                      type: string
                      description: The address state or region.
                    street:
                      type: string
                      description: The address street.
                    type:
                      type: string
                    zip:
                      type: string
                      description: The address ZIP/postal code.
                    archived:
                      type: boolean
                      description: Whether this address is archived.
                    _dirty:
                      type: boolean
                      description: Deprecated. This field is ignored.
                addresses:
                  type: array
                  description: List of addresses associated with the contact.
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      city:
                        type: string
                      country:
                        type: string
                        maxLength: 50
                      region:
                        type: string
                        description: Deprecated. Use `state_region` instead.
                      state_region:
                        type: string
                      street:
                        type: string
                      type:
                        type: string
                      zip:
                        type: string
                      archived:
                        type: boolean
                      _dirty:
                        type: boolean
                        description: Deprecated. This field is ignored.
                phone_number:
                  type: string
                  description: The primary phone number of the contact.
                mobile_phone_number:
                  type: string
                  description: The mobile phone number of the contact.
                home_phone_number:
                  type: string
                  description: The home phone number of the contact.
                fax_number:
                  type: string
                  description: The fax number of the contact.
                phone_numbers:
                  type: array
                  description: List of phone numbers associated with the contact.
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      number:
                        type: string
                      type:
                        type: string
                      archived:
                        type: boolean
                      _dirty:
                        type: boolean
                        description: Deprecated. This field is ignored.
                position:
                  type: object
                  description: The primary position of the contact.
                  properties:
                    id:
                      type: number
                    organisation:
                      type: string
                    role:
                      type: string
                    archived:
                      type: boolean
                    _dirty:
                      type: boolean
                      description: Deprecated. This field is ignored.
                positions:
                  type: array
                  description: List of positions associated with the contact.
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      organisation:
                        type: string
                      role:
                        type: string
                      archived:
                        type: boolean
                      _dirty:
                        type: boolean
                        description: Deprecated. This field is ignored.
                social_profiles:
                  type: array
                  description: List of social profiles associated with the contact.
                  items:
                    type: string
                    x-alternatives:
                    - type: string
                    - type: object
                      properties:
                        id:
                          type: number
                        type:
                          type: string
                        url:
                          type: string
                        username:
                          type: string
                        archived:
                          type: boolean
                        _dirty:
                          type: boolean
                          description: Deprecated. This field is ignored.
                custom:
                  type: object
                  description: Custom field values associated with the contact.
                _dirty:
                  type: boolean
                  description: Deprecated. This field is ignored.
                archived:
                  type: boolean
      tags:
      - Contacts
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
    delete:
      summary: Delete a contact
      operationId: deleteContactsContact_id
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: number
      tags:
      - Contacts
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
x-tagGroups:
- name: General
  tags:
  - Tasks
  - Accounts
  - Contacts
  - Opportunities
  - Workflows
  - Insights
- name: Interactions
  tags:
  - Calls
  - Meetings
  - Internal Notes
- name: User Management
  tags:
  - Users
  - Groups
- name: Configuration
  tags:
  - Regional Settings
  - Pipelines
  - Custom Fields
  - Email Data Sources
  - Tags
  - Filter Fields
  - Persons
