openapi: 3.2.0
info:
  title: Salesflare Internal Notes API
  version: 1.0.0
  description: '# Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.'
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/sf-logo-inverted.svg
    backgroundColor: '#0f1528'
    altText: Salesflare logo
servers:
- url: https://api.salesflare.com
tags:
- name: Internal Notes
paths:
  /messages:
    post:
      summary: Create an internal note
      operationId: postMessages
      requestBody:
        $ref: '#/components/requestBodies/postMessagesBody'
      tags:
      - Internal Notes
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
  /messages/{message_id}:
    put:
      summary: Update an internal note
      operationId: putMessagesMessage_id
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        $ref: '#/components/requestBodies/postMessagesBody'
      tags:
      - Internal Notes
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
    delete:
      summary: Delete an internal note
      operationId: deleteMessagesMessage_id
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: number
      tags:
      - Internal Notes
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
components:
  requestBodies:
    postMessagesBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              account:
                type: number
              body:
                type: string
              mentions:
                type: array
                items:
                  type: number
              date:
                type: string
                format: date-time
            required:
            - account
            - body
x-tagGroups:
- name: General
  tags:
  - Tasks
  - Accounts
  - Contacts
  - Opportunities
  - Workflows
  - Insights
- name: Interactions
  tags:
  - Calls
  - Meetings
  - Internal Notes
- name: User Management
  tags:
  - Users
  - Groups
- name: Configuration
  tags:
  - Regional Settings
  - Pipelines
  - Custom Fields
  - Email Data Sources
  - Tags
  - Filter Fields
  - Persons
