openapi: 3.2.0
info:
  title: Salesflare Meetings API
  version: 1.0.0
  description: '# Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.'
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/sf-logo-inverted.svg
    backgroundColor: '#0f1528'
    altText: Salesflare logo
servers:
- url: https://api.salesflare.com
tags:
- name: Meetings
paths:
  /conferences/{conference_id}:
    get:
      summary: Get meeting details by conference id
      operationId: getConferencesConference_id
      parameters:
      - name: conference_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Meetings
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
  /meetings/{meeting_id}:
    get:
      summary: Get meeting details
      operationId: getMeetingsMeeting_id
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: number
      tags:
      - Meetings
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
    put:
      summary: Update a meeting
      operationId: putMeetingsMeeting_id
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        $ref: '#/components/requestBodies/putMeetingsMeeting_idBody'
      tags:
      - Meetings
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
    delete:
      summary: Delete a meeting
      operationId: deleteMeetingsMeeting_id
      parameters:
      - name: meeting_id
        in: path
        required: true
        schema:
          type: number
      tags:
      - Meetings
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
  /meetings:
    post:
      summary: Create a meeting
      operationId: postMeetings
      requestBody:
        content:
          application/json:
            schema:
              type: array
              x-constraint:
                single: true
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date-time
                  end_date:
                    type: string
                    format: date-time
                  subject:
                    type: string
                    maxLength: 200
                  description:
                    type: string
                  minutes:
                    type: string
                    description: Deprecated. Use the `notes` property instead.
                  notes:
                    type: string
                  phone_type:
                    type: string
                  phone_number_hash:
                    type: string
                  participants:
                    type: array
                    description: No participants are possible for call log sync.
                    items:
                      type: number
                  type:
                    type: string
                    default: meeting-live
                    enum:
                    - meeting-live
                    - meeting-phone
                required:
                - date
                - participants
      tags:
      - Meetings
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                type: string
components:
  requestBodies:
    putMeetingsMeeting_idBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              calendar_id:
                type: string
              external_id:
                type: string
              minutes:
                type: string
                description: Deprecated. Use the `notes` property instead.
              notes:
                type: string
                description: The only property you can modify on calendar meetings.
              edited_by:
                type: number
            required:
            - calendar_id
            - external_id
            - notes
      x-alternatives:
      - type: object
        properties:
          calendar_id:
            type: string
          external_id:
            type: string
          minutes:
            type: string
            description: Deprecated. Use the `notes` property instead.
          notes:
            type: string
            description: The only property you can modify on calendar meetings.
          edited_by:
            type: number
        required:
        - calendar_id
        - external_id
        - notes
      - type: object
        properties:
          date:
            type: string
            format: date-time
          end_date:
            type: string
            format: date-time
          subject:
            type: string
            maxLength: 200
          description:
            type: string
          minutes:
            type: string
            description: Deprecated. Use the `notes` property instead.
          notes:
            type: string
          edited_by:
            type: number
          type:
            type: string
            enum:
            - meeting-live
            - meeting-phone
          phone_type:
            type: string
          participants:
            type: array
            minItems: 1
            items:
              type: number
        required:
        - participants
x-tagGroups:
- name: General
  tags:
  - Tasks
  - Accounts
  - Contacts
  - Opportunities
  - Workflows
  - Insights
- name: Interactions
  tags:
  - Calls
  - Meetings
  - Internal Notes
- name: User Management
  tags:
  - Users
  - Groups
- name: Configuration
  tags:
  - Regional Settings
  - Pipelines
  - Custom Fields
  - Email Data Sources
  - Tags
  - Filter Fields
  - Persons
